<style>
    html {
        margin: 0;
        height: 100%;
    }

    body {
        margin: 0;
        height: 100%;
        overflow: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('images/old-trafford-stadium-13.jpg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px 0px 0px 0px;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        margin: 3px;
        height: 12vmin;
        width: 120vmin;
        display: flex;
        justify-content: center;
        position: relative;
    }

        h1::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: -26vmin;
            left: 29vmin;
            width: 62vmin;
            height: 62vmin;
            border-radius: 50%;
            border: 1.3vmin solid;
            border-color: transparent;
        }

    em {
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 15vmin;
        position: relative;
        font-style: normal;
        width: 20vmin;
        text-align: center;
    }

        em.planet {
            -webkit-animation: planet-rotate 4s linear infinite;
            animation: planet-rotate 4s linear infinite;
            position: relative;
        }

            em.planet::before {
                content: "";
                position: absolute;
                top: -.5vmin;
                left: 3.5vmin;
                z-index: -1;
                width: 13vmin;
                height: 13vmin;
                border-radius: 50%;
                background-color: transparent
            }

            em.planet.left {
                -webkit-transform-origin: 40vmin 5vmin;
                transform-origin: 40vmin 5vmin;
            }

            em.planet.right {
                -webkit-transform-origin: -20vmin 5vmin;
                transform-origin: -20vmin 5vmin;
            }

    @-webkit-keyframes planet-rotate {
        to {
            -webkit-transform: rotate(1turn);
        }
    }

    @keyframes planet-rotate {
        to {
            transform: rotate(1turn);
        }
    }

    dados {
        font-size: 25px;
        color: aquamarine;
    }
</style>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<section style="">
    <div class="container" >
        <h1>
            <em>F</em>
            <em>U</em>
            <em>T</em>
            <em>E</em>
            <em class="planet left"><i class="fa fa-futbol-o" aria-hidden="true"></i></em>
            <em>D</em>
            <em>A</em>
            <em>T</em>
            <em>A</em>

        </h1>




    </div>
    

</section>